* { 
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 0);
  margin: 0px;
  color: rgba (0,0,0,0.9);
  font-size: 17px;
  font-family: font-family: 'Righteous', cursive;
}

h1 {
  font-family: 'Ultra', serif;
  font-size: 30px;
  color: rgba(21, 12, 12, 0.618);
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  color: rgb(211, 0, 35);
  font-weight: lighter;
  font-size: 20px;
}

h3 {
  font-family: 'Zilla Slab Highlight', cursive;
}

i {
  font-size: 24px;
}

.estiloImagenes {
  border: thin solid silver;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #716c6c;
}

.animate4 {
  --animate-duration: 4s;
}

.formularioPedido {
  margin: auto;
  background-color: #212529;
  color: aliceblue;
}

#banner {
  background-image: url(https://images.unsplash.com/photo-1554306297-0c86e837d24b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=721&q=80);
  background-size: cover;
  background-position: center;
  color: white;
  margin: 40px;
  padding: 40px 0;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #716c6c;
}

#formulario {
  font-size: 13px;
}

#mensajeSobreEnvio {
  font-size: 16px;
  font-family: 'Zilla Slab Highlight', cursive;
}

#mensajeSobrePedido {
  font-size: 16px;
  font-family: 'Zilla Slab Highlight', cursive;
}

#footer {
  background-color: black;
  color: white;
}

#footer a {
  color: rgba(200, 200, 200);
}

#footer a:hover {
  color: white;
}
